/* content.module.css */

.contentContainer {
  padding: 40px;
  font-family: var(--font-geist-sans);
  max-width: 800px;
  margin: 0 auto;
}


.videoWrapper {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16/9;
  margin-top: 20px;
  background-color: #000;
  border-radius: 10px;
  overflow: hidden;
}

.videoPlayer {
  width: 100%;
  height: 100%;
  border: none;
}
